.modal-wrap {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  position: relative;

  &__head {
    position: relative;
    display: flex;
  }

  & .icon-user {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid #5CBF1A;
    fill: #5CBF1A;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
    text-align: center;
  }


  &__btn {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;

    &--small {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;

    }

    &--reg {
      background-color: $attention-color;
      color: #ffffff;
      margin-bottom: 15px;

      &:hover {
        background: #E9458B;
      }

      &:active {
        background: #E02877;
      }
    }
  }

  &__text {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    &--small{
      font-size: 12px;
    }
  }

  & .mfp-close {
    color: #000000 !important;
    opacity: 1;
    padding-top: 5px;
  }

  &__input-wrap {
    margin-bottom: 13px;
    position: relative;
    &--label{
      position: relative;
      & .modal-wrap__label{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #9FA3A7;
        font-size: 14px;
      }
      & .modal-wrap__input{
        font-size: 14px;
        padding-top: 18px;
        padding-bottom: 2px;
        color: #4D4D4D;
      }
    }
    &--sms{
        & input{
          border: none;
        }
    }
  }

  &__input {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
    width: 100%;
    &::-webkit-input-placeholder {color:#9FA3A7;}
    &::-moz-placeholder          {color:#9FA3A7;}
    &:-moz-placeholder           {color:#9FA3A7;}
    &:-ms-input-placeholder {color:#9FA3A7;}
    &--error{
      border-color: $attention-color;
      color: $attention-color;
    }
    &:focus{
      border: 1px solid #5CBF1A;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
  }

  &__link {
    font-size: 12px;
    color: #BE0B58;

    &--footer {
      font-size: 16px;
    }
  }

  &__soc-info {
    font-size: 14px;
    color: #9FA3A7;
    text-align: center;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  & .custom-checkbox__name {
    font-size: 12px;
    color: #000000;
    font-weight: normal !important;
  }

  &__add-file-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__add-file-label {
    max-width: 165px;
    color: #333333;
    font-size: 12px;
    padding-right: 10px;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      max-width: 143px;
      margin-bottom: 5px;
    }
  }

  &__file-name {
    width: 100%;
    font-size: 12px;
    color: #333333;
  }

  &__add-file-btn {
    width: auto;
    border: 1px solid #6CB13E;
    border-radius: 5px;
    color: #6CB13E;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    pointer-events: none;
  }
  &__alt-reg{
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }
  &__soc-list{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  &__soc-item{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    & .icon {
      width: 25px;
      height: 25px;
      padding: 0;
    }
  }
  &__sms-placeholder{
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  &__sms-placeholder-dot{
    width: 10px;
    height: 10px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__input{
    &:focus{
      outline: none;
      border: none;
      & + .modal-wrap__sms-placeholder{
        display: none;
      }
    }
  }

}

