extends layout/main.pug

include ../blocks/forms/forms
include ../blocks/sliders/sliders
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/papers/papers
include ../blocks/products/products
include ../blocks/brand-page/brand-page
include ../blocks/proposal/proposal


block title
	title Бренд

block pagecontent
	+breadcrumbs('Kerastase', 'Главная', 'Бренды')
	+brand-info()
	+proposal()
	+products-catalog('Каталог Kerastase:', 'Удивите меня ещё')
	+distribution-form()


