extends layout/main.pug


block title
  title Гланая

block pagecontent

  .container
    .row.justify-content-center
      .col-auto.mt-5.mb-5
        a.btn.popup-with-move-anim.mb-2(href='#modal-reg') Регистрация
        a.btn.popup-with-move-anim.mb-2(href='#modal-recover-email') Забыли пароль
        a.btn.popup-with-move-anim.mb-2(href='#modal-sms') Введите код
        a.btn.popup-with-move-anim.mb-2(href='#modal-recover-new-pass') Новый пароль
        a.btn.popup-with-move-anim.mb-2(href='#modal-reg-soc') Регистрация через соц сеть
        a.btn.popup-with-move-anim.mb-2(href='#modal-dialog') Диалоговое окно
        a.btn.popup-with-move-anim.mb-2(href='#modal-login') Вход




