mixin brand-line()
	+b.brand-line
		.container
			+e.list
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/1.jpg')
						+e.H4.title
							+e.A.link(href='#') Nutritive
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/2.jpg')
						+e.H4.title
							+e.A.link(href='#') Resistance
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/3.jpg')
						+e.H4.title
							+e.A.link(href='#') Elixir Ultime
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/4.jpg')
						+e.H4.title
							+e.A.link(href='#') Chronologiste
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/5.jpg')
						+e.H4.title
							+e.A.link(href='#') Initialiste
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/6.jpg')
						+e.H4.title
							+e.A.link(href='#') Discipline
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/7.jpg')
						+e.H4.title
							+e.A.link(href='#') Densifique
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/8.jpg')
						+e.H4.title
							+e.A.link(href='#') Reflection
				+e.item
					+e.wrapper
						+e.H4.title
							+e.A.link(href='#') Cristalliste
				+e.item
					+e.wrapper
						+e.H4.title
							+e.A.link(href='#') Homme
				+e.item
					+e.wrapper
						+e.IMG.img(src='img/brand-line/9.jpg')
						+e.H4.title
							+e.A.link(href='#') Couture Styling
				+e.item
					+e.wrapper
						+e.H4.title
							+e.A.link(href='#') Soleil
