mixin papers()
	+b.papers
		.container
			h2.title-line Статьи
		+e.wrapper.container
			+e.list
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/papers/1.jpg')
					+e.content-wrapper
						+e.date 13.04.2019
						+e.H3.title
							+e.A.link(href='#') Как превратить прием ванны в ХЮГГЕ ритуал?
						+e.P.description Осеняя погода навевает грусть, но нет ничего лучше, чем расслабляющая ванна.
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/papers/2.jpg')
					+e.content-wrapper
						+e.date 10.04.2019
						+e.H3.title
							+e.A.link(href='#') Чувствительная кожа - все что вы хотели знать об уходе за ней!
						+e.P.description Несколько советов, как ухаживать за чувствительной кожей.
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/papers/3.jpg')
					+e.content-wrapper
						+e.date 05.04.2019
						+e.H3.title
							+e.A.link(href='#') Антиоксиданты в бой!
						+e.P.description Антиоксиданты в косметике: почему они необходимы нашей коже?
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/papers/4.jpg')
					+e.content-wrapper
						+e.date 03.04.2019
						+e.H3.title
							+e.A.link(href='#') Мультимаскинг: новое слово в уходе за кожей!
						+e.P.description Маски для лица для любых типов кожи!
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/papers/5.jpg')
					+e.content-wrapper
						+e.date 01.04.2019
						+e.H3.title
							+e.A.link(href='#') Секреты французской красоты!
						+e.P.description Французские женщины известны многими вещами, но больше всего их
				+e.item--more
					+e.A.more-link(href='#') Загрузить еще статьи


