mixin proposal()
	+b.proposal
		.container
			h2.title-line Предложение дня:
			+e.list
				+e.item
					+product-item-slide('1')
				+e.item
					+product-item-slide('2')
				+e.item
					+product-item-slide('3')
				+e.item
					+product-item-slide('4')
				+e.item
					+product-item-slide('1')
				+e.item
					+product-item-slide('2')

