.stars{
  margin-bottom: 20px;
  &__list{
    display: flex;
    align-items: center;
  }
  & .icon-star{
    cursor: pointer;
    fill: $inactive-color;
    margin-right: 5px;
    &:hover{
      fill: $attention-color;
    }
  }
  &__item--active{
    & .icon-star{
      fill: $attention-color;
    }
  }
  &__num{
    margin-left: 10px;
    font-size: 14px;
  }
}
