mixin brands()
	+b.brands
		.container
			h2.title-line Бренды:
			+e.list
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/1.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/2.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/3.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/4.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/5.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/6.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/7.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/8.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/9.png')
				+e.A.item(href='#')
					+e.IMG.img(src='img/brands/10.png')
				+e.A.btn.btn Бренды
					+icon('icon-arrow-right')
