.breadcrumbs{
  padding-top: 15px;
  padding-bottom: 20px;
  &__item{
    padding-right: 25px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    &:before{
      display: block;
      content: '>';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 3px;
      right: 10px;
      transform: translate(-50%, -50%);
      color: #4D4D4D ;
      text-align: center;
    }
    &.active{
      color: $attention-color ;
    }
    &:last-child{
      &:before{
        display: none;
      }
    }
  }
}
