.brand-info{
  &__head-wrapper{
    margin-bottom: 20px;
  }
  &__video-wrapper{
    width: 100%;
    min-height: 200px;
    background-color: black;
    margin-bottom: 20px;
    position: relative;
  }
  &__reed-more{
background-color: white;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px dashed $danger-color;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    font-size: 12px;
  }
}
