include ../brand-line/brand-line


mixin brand-info()
	+b.brand-info
		+bigSlider()
		.container
			+e.head-wrapper
				+e.P.description Бренд, которому доверяют признанные мастера парикмахерского искусства! Торговая марка Kerastase происходит из «семьи» L’Oreal, где качество всегда отличалось безупречностью. В арсенале бренда – только тщательно проверенные средства сохранения и восстановления природной красоты волос. Сегодня вы можете купить Керастаз в интернет-магазине Москвы – оригинальную продукцию для сияния и здоровья ваших волос.
				+e.video-wrapper
					+e.video Видео
				+e.BUTTON.reed-more Свернуть описание
		+brand-line()




