mixin footer()
	+b.FOOTER.footer
		+e.top
			+e.links.footer-item
				+e.A.full-ver(href='#')
					+icon('icon-laptop')
					| Полная версия
				+e.A.download-app(href='#')
					+icon('icon-smartphone')
					| Скачать приложение
			+e.phones.footer-item
				+e.A.phone(href='tel:+78007755685') 8 (800) 775-56-85
				+e.A.phone(href='tel:+74957896928') 8 (495) 789-69-28
				+e.A.callback(href='#') Заказать звонок
			+e.social.footer-item
				+e.social-title Socolor.ru в соц.сетях:
				+e.social-list
					+soc('vk')
					+soc('instagram')
					+soc('fb')
					+soc('ym')
		+e.nav
			+e.service.footer-item
				+e.title.title-line Сервис и поддержка
				+e.UL.nav-list
					+e.LI.nav-item
						+e.A.nav-link(href='#') Условия доставки
					+e.LI.nav-item
						+e.A.nav-link(href='#') Контроль качества
					+e.LI.nav-item
						+e.A.nav-link(href='#') Варианты оплат
					+e.LI.nav-item
						+e.A.nav-link(href='#') Замечания и предложения
					+e.LI.nav-item
						+e.A.nav-link(href='#') Претензии по заказу
					+e.LI.nav-item
						+e.A.nav-link(href='#') Контакты
			+e.catalof.footer-item
				+e.title.title-line Каталог
			+e.sale.footer-item
				+e.title.title-line Система скидок
		+e.bottom.footer-item
			+e.A.logo(href='/')
				+e.IMG.logo(src='img/mobile-footer-logo.png')
			+e.copyright © 2007-2019
				br/ Socolor.ru
		+e.information Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о товаре и его стоимости, пожалуйста, обращайтесь к операторам.




