mixin why-we()
	+b.why-we
		.container
			+e.H2.title.title-line.title-line--danger-color Почему выбирают нас?
			+e.list
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/why-we/1.png' alt='img' width='37')
					+e.H3.item-title Бесплатная доставка
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/why-we/2.png' alt='img' width='60')
					+e.H3.item-title Скидки до 100%
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/why-we/3.png' alt='img' width='22')
					+e.H3.item-title Приложение в мобильном
