mixin info-block()
	+b.info-block
		+e.question
			.container
				h2.title-line У Вас вопрос о выборе товара?
				p Наши консультанты помогут подобрать для Вас нужную продукцию по самым низким ценам.
				a.btn.btn--orange Задать вопрос
					+icon('icon-arrow-right')
		+e.articles
			.container
				h2.title-line Аптечная косметика  для лица: уход и лечение
					p В чем принципиальное отличие аптечной косметики для лица от бьюти-средств, продающихся в магазинах масс-маркета?
					a.btn.btn Все статьи
						+icon('icon-arrow-right')

