mixin brand-block()
	+b.brand-block
		.container
			h2.title-line SOCOLOR.ru
		+e.slider-list
			+e.slider-item
				+e.A.slider-link(href='#')
					+e.IMG.slider-img(src='img/brand-block/1.png' alt='img')
			+e.slider-item
				+e.A.slider-link(href='#')
					+e.IMG.slider-img(src='img/brand-block/1.png' alt='img')
			+e.slider-item
				+e.A.slider-link(href='#')
					+e.IMG.slider-img(src='img/brand-block/1.png' alt='img')
			+e.slider-item
				+e.A.slider-link(href='#')
					+e.IMG.slider-img(src='img/brand-block/1.png' alt='img')
			+e.slider-item
				+e.A.slider-link(href='#')
					+e.IMG.slider-img(src='img/brand-block/1.png' alt='img')
		+e.content
			.container
				p Rendken даёт Вам огромный диапазон возможностей в области окрашивания, лечения и ухода за волосами.
					br/
					br/ Широкая палитра оттенков позволяет создавать индивидуальные цвета, использует различные техники окрашивания. Уникальная гамма для мужчин обеспечивает естественный результат всего за 10 минут, скрывая седые волосы.
				a.btn.btn--black В каталог Redken
					+icon('icon-arrow-right')

