mixin papers-item()
	+b.papers-item
		.container
			h2.title-line Как добиться сияния кожи изнутри и снаружи!
			img(src='img/papers-item/4.jpg' alt='img')
			p Есть ли способ достичь естественного, молодого, сияющего вида лица? Он начинается с акцента на здоровье кожи: регулярное отшелушивание, увлажнение, употребление достаточного количества воды и т.д.
				br/
				br/ Тренд сейчас — ухода за кожей, пока она не будет сиять сама по себе, и вам не понадобятся тональные крема, праймеры, чтобы подделывать этот эффект.
			h3.title-line 1. Начните с качественного очищения
			p Выберите продукт, который не сушит, а вместо этого увлажняет, чтобы ваша кожа сохраняла достаточную увлажнённость, чтобы выдерживать любой макияж, и вредное воздействие окружающей среды.
		+e.product
			.container
				+e.product-img-wrapper
					+e.IMG.product-img(src='img/papers-item/1.jpg' alt='img')
				+e.H3.product-title
					+e.A.product-link(href='#') CeraVe Увлажняющая очищающая мицеллярная вода
				+e.P.product-text Бережно очищает от косметики и других загрязнений. Увлажняет кожу, укрепляя ее естественный защитный барьер.
		.container
			h3.title-line 2. Продолжите уход увлажняющим средством
			p Выберите тоник, который наполнен антиоксидантами и незаменимыми жирными кислотами, чтобы ваша кожа оставалась гладкой и сияющей.
		+e.product
			.container
				+e.product-img-wrapper
					+e.IMG.product-img(src='img/papers-item/2.jpg' alt='img')
				+e.H3.product-title
					+e.A.product-link(href='#') Sothys Тоник с экстрактом грейпфрута
				+e.P.product-text Мягко и деликатно удаляет все загрязнения с кожи, подходит для снятия макияжа и остатков других очищающих средств.
		.container
			h3.title-line 3. Отшелушивайте один или два раза в неделю.
			p Выберите увлажняющий скраб, который включает богатую смесь органических веществ, таких как шарики жожоба, алоэ вера и оливковое масло, а также мощные антиоксиданты, которые ограничивают производство разрушающих кожу свободных радикалов.
		+e.product
			.container
				+e.product-img-wrapper
					+e.IMG.product-img(src='img/papers-item/3.jpg' alt='img')
				+e.H3.product-title
					+e.A.product-link(href='#') Premium Скраб Aquamarine с эффектом микродермабразии
				+e.P.product-text Выравнивают микрорельеф и тон кожи, обеспечивая очень нежное физиологичное воздействие.
		.container
			h3.title-line Читайте так же:
		+e.slider
			+e.slider-list
				+e.slider-item
					+e.slider-img-wrapper
						+e.IMG.slider-img(src='img/papers-item/5.jpg' alt='img')
					.container
						+e.H3.slider-title —
							+e.A.slider-link(href='#') Темные круги под глазами
						+e.P.slider-text Темные круги под глазами - общая проблема для женщин всех возрастов.
				//+e.slider-item
				//	+e.slider-img-wrapper
				//		+e.IMG.slider-img(src='img/papers-item/5.jpg' alt='img')
				//	.container
				//		+e.H3.slider-title —
				//			+e.A.slider-link(href='#') Темные круги под глазами
				//		+e.P.slider-text Темные круги под глазами - общая проблема для женщин всех возрастов.
				//+e.slider-item
				//	+e.slider-img-wrapper
				//		+e.IMG.slider-img(src='img/papers-item/5.jpg' alt='img')
				//	.container
				//		+e.H3.slider-title —
				//			+e.A.slider-link(href='#') Темные круги под глазами
				//		+e.P.slider-text Темные круги под глазами - общая проблема для женщин всех возрастов.
				//+e.slider-item
				//	+e.slider-img-wrapper
				//		+e.IMG.slider-img(src='img/papers-item/5.jpg' alt='img')
				//	.container
				//		+e.H3.slider-title —
				//			+e.A.slider-link(href='#') Темные круги под глазами
				//		+e.P.slider-text Темные круги под глазами - общая проблема для женщин всех возрастов.



