mixin action()
	+b.action
		.container
			+e.list
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/action/1.jpg' alt='img')
					+e.H3.title
						+e.A.link(href='#') Подарки к заказу
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/action/2.jpg' alt='img')
					+e.H3.title
						+e.A.link(href='#') ТОП-10 средств по уходу за волосами по мнению наших клиентов
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/action/3.jpg' alt='img')
					+e.H3.title
						+e.A.link(href='#') ТОП-10 средств против выпадения волос
					+e.P.description Осеннее выпадение волос – это проблема, с которой сталкиваются
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/action/4.jpg' alt='img')
					+e.H3.title
						+e.A.link(href='#') ТОП-10 средств против перхоти
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/action/5.jpg' alt='img')
					+e.H3.title
						+e.A.link(href='#') ТОП-10 средств для объема волос
				+e.item
					+e.img-wrapper
						+e.IMG.img(src='img/action/6.jpg' alt='img')
					+e.H3.title
						+e.A.link(href='#') Скидки -35% на 15 самых популярных брендов!
					+e.P.description 29.04.2019 — 30.04.2019


